src/*.a
src/*.o
src/Makefile.depend
src/emulator-gui
src/hcc
src/jack2vm
src/test_graph
src/test_interference_graph
src/test_jack_tokenizer
src/test_ssa_integration
src/test_ssa_tokenizer
src/test_vm_integration
src/vm2asm
